---
import Layout from '../../layouts/Layout.astro';
import Header from '../../components/Header.astro';
import Hero from '../../components/Hero.astro';
import Gallery from '../../components/Properties.astro';
import About from '../../components/About.astro';
import Booking from '../../components/Booking.astro';
import Contact from '../../components/Contact.astro';
import Footer from '../../components/Footer.astro';
---

<Layout title="Phimai Pond House - 泰国舒适小木屋">
  <Header />
  <main>
    <Hero />
    <Gallery />
    <About />
    <Booking />
    <Contact />
  </main>
  <Footer />
</Layout>
