---
import { Landmark, TreePine, Users } from 'lucide-astro';
---

<section id="location" class="location section">
  <div class="container">
    <div class="location-section">
      <div class="location-info">
        <h3 data-i18n="gallery.location.title" />
        <p data-i18n="gallery.location.description" />
        
        <div class="location-features">
          <div class="location-feature">
            <div class="feature-icon">
              <Landmark size={16} />
            </div>
            <span data-i18n="gallery.location.features.temple" />
          </div>
          <div class="location-feature">
            <div class="feature-icon">
              <TreePine size={16} />
            </div>
            <span data-i18n="gallery.location.features.mangrove" />
          </div>
          <div class="location-feature">
            <div class="feature-icon">
              <Users size={16} />
            </div>
            <span data-i18n="gallery.location.features.culture" />
          </div>
        </div>
      </div>

      <div class="location-map">
        <iframe 
          class="map-iframe"
          src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1924.9440490989714!2d102.49866774589388!3d15.219289032023765!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x311917a1629c1fbf%3A0x682188c4c7576e05!2sPhimai%20Pond%20House!5e0!3m2!1snl!2snl!4v1755585214032!5m2!1snl!2snl"
          allowfullscreen="" 
          loading="lazy" 
          referrerpolicy="no-referrer-when-downgrade">
        </iframe>
      </div>
    </div>
  </div>
</section>
