---
import Layout from '../layouts/Layout.astro';
import Header from '../components/Header.astro';
import Hero from '../components/Hero.astro';
import Gallery from '../components/Properties.astro';
import Location from '../components/Location.astro';
import About from '../components/About.astro';
import Booking from '../components/Booking.astro';
import Contact from '../components/Contact.astro';
import Footer from '../components/Footer.astro';
import Animations from '../components/Animations.astro';
---

<Layout title="Phimai Pond House - Cozy Tiny Homes in Thailand">
  <Header />
  <main>
    <Hero />
    <About />
    <Gallery />
    <Location />
    <Booking />
    <Contact />
  </main>
  <Footer />
  <Animations />
</Layout>