---
import { siteConfig } from '../config/site';
import { WashingMachine, Utensils, Coffee, Package, Bike, Users } from 'lucide-astro';
---

<section id="about" class="about section">
  <div class="container">
    <div class="about-content">
      <div class="about-info">
        <h2 data-i18n="about.title" />
        <p data-i18n="about.intro" />
        
        <div class="bikes-section">
          <div class="bikes-feature">
            <div class="bikes-icon">
              <Bike size={24} />
            </div>
            <p data-i18n="about.bikes" />
          </div>
        </div>

        <div class="family-suite-section">
          <div class="family-feature">
            <div class="family-icon">
              <Users size={24} />
            </div>
            <div class="family-content">
              <h3 data-i18n="about.familySuite.title" />
              <p data-i18n="about.familySuite.description" />
            </div>
          </div>
        </div>

        <div class="amenities">
          <h3 data-i18n="about.amenities.title" />
          <div class="amenities-list">
            <div class="amenity-item">
              <div class="amenity-icon">
                <WashingMachine size={20} />
              </div>
              <span data-i18n="about.amenities.washingMachine" />
            </div>
            <div class="amenity-item">
              <div class="amenity-icon">
                <Utensils size={20} />
              </div>
              <span data-i18n="about.amenities.kitchenette" />
            </div>
            <div class="amenity-item">
              <div class="amenity-icon">
                <Coffee size={20} />
              </div>
              <span data-i18n="about.amenities.snacks" />
            </div>
            <div class="amenity-item">
              <div class="amenity-icon">
                <Package size={20} />
              </div>
              <span data-i18n="about.amenities.essentials" />
            </div>
            <div class="amenity-item">
              <div class="amenity-icon">
                <Bike size={20} />
              </div>
              <span data-i18n="about.amenities.transfer" />
            </div>
          </div>
        </div>

        <div class="conclusion">
          <p data-i18n="about.conclusion" />
        </div>
      </div>

      <div class="about-image">
        <img src="/images/family-suite.jpg" alt="Family suite at Phimai Pond House" />
      </div>
    </div>
  </div>
</section>

