---
import ScrollToTop from './ScrollToTop.astro';
import LanguageSelector from './LanguageSelector.astro';

const currentYear = new Date().getFullYear();
---

<footer class="footer">
  <div class="container">
    <div class="footer-content">
      <div class="footer-copyright">
        <p>&copy; {currentYear} Phimai Pond House. <span data-i18n="footer.copyright" /></p>
      </div>
      <div class="footer-actions">
        <ScrollToTop id="footerScrollToTop" className="header-style" />
        <LanguageSelector />
      </div>
    </div>
  </div>
</footer>

