---
interface Props {
  className?: string;
}

const { className = "" } = Astro.props;
---

<nav class={`navigation ${className}`}>
      <a href="#gallery" data-i18n="nav.gallery"><span /></a>
    <a href="#booking" data-i18n="nav.bookNow"><span /></a>
    <a href="#about" data-i18n="nav.about"><span /></a>
    <a href="#contact" data-i18n="nav.contact"><span /></a>
</nav>


