---
import Layout from "../../layouts/Layout.astro";
import Header from "../../components/Header.astro";
import Footer from "../../components/Footer.astro";
import i18next, { changeLanguage } from "i18next";

changeLanguage("th");
---

<Layout lang={i18next.language}>
  <Header />
  <main>
    <h1>hello world</h1>
    <button id="helloButton"> false </button>
  </main>
  <Footer />
</Layout>

<script>
  document.addEventListener('DOMContentLoaded', function () {
    const button = document.getElementById('helloButton');
    if (button && button instanceof HTMLButtonElement) {
      // Reactive state variable
      let state = {
        isTrue: false,
      };

      // Function to update UI based on state
      function updateUI() {
        button.textContent = state.isTrue.toString();
        console.log('State updated:', state.isTrue);
      }

      // Initialize UI
      updateUI();

      button.addEventListener('click', function () {
        // Update state
        state.isTrue = !state.isTrue;
        // Update UI based on new state
        updateUI();
      });
    }
  });
</script>
